
<div class="card text-white bg-dark" style="margin-left: 5%; margin-right: 5%" >
    <h4 class="card-header">{{getName()}}</h4>
    <div class="card-body">
        <div class="row">
        <div class="col-4">
            
            <img class="card-img-top" src={{getImg()}} alt="Card image cap">
        </div>
        <div class="col-8">
        <h4 class="card-title">Description</h4>
        
        <p class="card-text">{{getDescription()}}</p>
      
        </div>
        </div>
        <collapse IngredientName={{getName()}}></collapse>
    </div>
  </div>

