<div>
    <style>
        h1 {text-align: center; padding-top: 5px;}
        h5 {text-align: center;}
        h6 {text-align: center;}
    </style>
    <div>
        <h1>En riktigt smarrig drink</h1>
          <div class="col-md-12 text-center">
        <button type="button" onClick="window.location.reload();" class="btn btn-dark btn-sm">
          <span class="glyphicon glyphicon-refresh"></span> En ny?
        </button>
     </div>
     <br/>
        <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-3 mx-auto">
            <div class="card text-white bg-dark" style="cursor:pointer" routerLink = {{getURLwithID(0)}}>
                <img
                  src={{getImg(0)}}
                  class="card-img-bottom"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">{{getName(0)}}</h5>
                  <h6 class="card-footer text-muted">#{{getTags(0)}}</h6>
                </div>  
              </div>
        </div>
    </div>
</div>