<div>
    <style>
        h1 {text-align: center; padding-top: 20px;}
        h5 {text-align: center;}
        h6 {text-align: center;}
    </style>
    <div>
        <h1>En riktigt smarrig drink</h1>
        <br/>
        <div class="container-fluid" style="margin-left: 37%;">
        <div class="row">
          <div class="col-3">
            <div class="card text-white bg-dark">
                <img
                  src={{getImg(0)}}
                  class="card-img-bottom"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">{{getName(0)}}</h5>
                  <h6 class="card-footer text-muted">#{{getTags(0)}}</h6>
                </div>
              </div>
        </div>
        </div>
  </div>