<!-- MDBBootstrapModule.forRoot()  -->

<h1>Sök drink</h1>

<label for="typeahead-basic">Sök här:</label>
<input id="typeahead-basic" type="text" class="form-control" (keyup)="sendData($event)" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()" [ngbTypeahead]="search" placeholder="Sök efter en drink!"/>


<div>
  <!-- <input type="text" class="search-box" placeholder="Sök efter en drink!" (keyup)="sendData($event)" [ngbTypeahead]="search">
  <section class = "search-results"> </section>
  <button (click)="search()">Sök</button> -->




</div>
