<div>
<style>
    h1 {text-align: center; padding-top: 20px;}
</style>
<div>
    <h1>Populära drinkar</h1>
<div class="d-flex justify-content-center">
    <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Namn</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let drink of drinks">
            <td><span>{{drink.strDrink}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>  
